@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.add-recipe-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

textarea#instructions {
  height: auto;
  min-height: 100px;
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #ff4081;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


/* Хорошо */
/* 
.add-recipe-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

textarea#instructions {
  height: auto;
  min-height: 100px;
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #ff4081;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */




/* Первое */
/* .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
  } */
  